AppData
AppData/Local/Comms/UnistoreDB/store.vol
AppData/Local/Comms/UnistoreDB/tmp.edb
AppData/Local/Comms/UnistoreDB/USS.jcp
AppData/Local/Comms/UnistoreDB/USS.jtx
AppData/Local/Comms/UnistoreDB/USS00001.jtx
AppData/Local/Comms/UnistoreDB/USSres00001.jrs
AppData/Local/Comms/UnistoreDB/USSres00002.jrs
AppData/Local/Comms/UnistoreDB/USStmp.jtx
AppData/Local/ConnectedDevicesPlatform/4f23df172d3c2d46.cdp
AppData/Local/ConnectedDevicesPlatform/4f23df172d3c2d46.cdpresource
AppData/Local/ConnectedDevicesPlatform/CDPGlobalSettings.cdp
AppData/Local/ConnectedDevicesPlatform/Connected Devices Platform certificates.sst
AppData/Local/ConnectedDevicesPlatform/L.sarah.cdp
AppData/Local/ConnectedDevicesPlatform/L.sarah.cdpresource
AppData/Local/ConnectedDevicesPlatform/4f23df172d3c2d46/ActivitiesCache.db
AppData/Local/ConnectedDevicesPlatform/4f23df172d3c2d46/ActivitiesCache.db-shm
AppData/Local/ConnectedDevicesPlatform/4f23df172d3c2d46/ActivitiesCache.db-wal
AppData/Local/D3DSCache/2b6623d024ae8ddb/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.idx
AppData/Local/D3DSCache/2b6623d024ae8ddb/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.lock
AppData/Local/D3DSCache/2b6623d024ae8ddb/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.val
AppData/Local/D3DSCache/2b6623d024ae8ddb/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.idx
AppData/Local/D3DSCache/2b6623d024ae8ddb/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.lock
AppData/Local/D3DSCache/2b6623d024ae8ddb/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.val
AppData/Local/D3DSCache/5a0e4af6d5a4393d/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.idx
AppData/Local/D3DSCache/5a0e4af6d5a4393d/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.lock
AppData/Local/D3DSCache/5a0e4af6d5a4393d/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.val
AppData/Local/D3DSCache/5a0e4af6d5a4393d/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.idx
AppData/Local/D3DSCache/5a0e4af6d5a4393d/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.lock
AppData/Local/D3DSCache/5a0e4af6d5a4393d/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.val
AppData/Local/D3DSCache/cb00da9ba77862e/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.idx
AppData/Local/D3DSCache/cb00da9ba77862e/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.lock
AppData/Local/D3DSCache/cb00da9ba77862e/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.val
AppData/Local/D3DSCache/cb00da9ba77862e/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.idx
AppData/Local/D3DSCache/cb00da9ba77862e/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.lock
AppData/Local/D3DSCache/cb00da9ba77862e/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.val
AppData/Local/D3DSCache/d1045fa42060dcaf/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.idx
AppData/Local/D3DSCache/d1045fa42060dcaf/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.lock
AppData/Local/D3DSCache/d1045fa42060dcaf/6F75932F-7DFC-4FB0-B4B8-12DE1AC415DA_VEN_8086&DEV_9A49&SUBSYS_87F3&REV_1.val
AppData/Local/D3DSCache/d1045fa42060dcaf/F4EB2D6C-ED2B-4BDD-AD9D-F913287E6768.idx
AppData/Local/IconCache.db

AppData/Local/Google/Chrome/User Data

Downloads
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms
ntuser.ini
Contacts/desktop.ini
Favorites/Bing.url
Favorites/desktop.ini
Favorites/HP/Accessories.url
Favorites/HP/Amazon.com – Online Shopping.url
Favorites/HP/HP Store.url
Favorites/HP/LastPass.url
Favorites/HP/Printing.url
Favorites/HP/Software and Driver Downloads.url
Favorites/Links/Amazon.com – Online Shopping.url
Favorites/Links/desktop.ini
Favorites/Links/LastPass.url
IntelGraphicsProfiles/Brighten Video.man.igpi
IntelGraphicsProfiles/Darken Video.man.igpi
IntelGraphicsProfiles/Enhance Video Colors.man.igpi
Links/desktop.ini
Links/Desktop.lnk
Links/Downloads.lnk
Music/desktop.ini
OneDrive/.849C9593-D756-4E56-8D6E-42412F2A707B
OneDrive/desktop.ini
OneDrive/Document.docx
OneDrive/Getting started with OneDrive.pdf
OneDrive/Personal Vault.lnk
OneDrive/Desktop/Chrome Remote Desktop.lnk
OneDrive/Desktop/desktop.ini
OneDrive/Desktop/Hi.txt
OneDrive/Desktop/Slack.lnk
OneDrive/Desktop/Visual Studio Code.lnk
OneDrive/Documents/desktop.ini
OneDrive/Documents/Sarah's Notebook.url
OneDrive/Documents/Coding Bootcamp/code clips.txt
OneDrive/Documents/Coding Bootcamp/Week0/My Promineo Schedule (1).xlsx
OneDrive/Documents/Coding Bootcamp/Week0/Week-0-Career-Services-Assignment.docx
OneDrive/Documents/Coding Bootcamp/Week0/Week-0-Coding-Assignment.docx
OneDrive/Documents/Coding Bootcamp/Week1/JS-Week1_LinkedIn-Setup_CS1 (1).docx
OneDrive/Documents/Coding Bootcamp/Week1/JS-Week1_LinkedIn-Setup_CS1.docx
OneDrive/Documents/Coding Bootcamp/Week2/JavaScript Loops Week 2 Research assignment.docx
OneDrive/Documents/Coding Bootcamp/Week2/JS-Week2_GitHub-Setup_CS1.5 (1).docx
OneDrive/Documents/Coding Bootcamp/Week2/JS-Week2_GitHub-Setup_CS1.5.docx
OneDrive/Documents/Coding Bootcamp/Week3/Document1.docx
OneDrive/Documents/Coding Bootcamp/Week3/Document2.docx
OneDrive/Documents/Coding Bootcamp/Week3/JS-Week3-Coding-Assignment (2).docx
OneDrive/Documents/Coding Bootcamp/Week3/With notes JS-Week3-Coding-Assignment.docx
OneDrive/Documents/Coding Bootcamp/Week4/Week 4 research.docx
OneDrive/Documents/Coding Bootcamp/Week5/Document1.docx
OneDrive/Documents/Coding Bootcamp/Week5/JS-Week5_Coding-Assignment.docx
OneDrive/Documents/Coding Bootcamp/Week5/JS-Week5_JavaScript-Flash-Cards_CS3.docx
OneDrive/Documents/Coding Bootcamp/Week6/JS-Week6_Coding-Assignment.docx
Promineo Work/test/app/node_modules

Promineo Work/Week6/node_modules

Promineo Work/Week1/Lab 1.html
Promineo Work/Week1/VariablesAndOperations.js
Promineo Work/Week2/ConditionsAndLoops.js
Promineo Work/Week2/index.html
Promineo Work/Week6/package-lock.json
Promineo Work/Week6/package.json
Promineo Work/Week6/War_tests.js
Promineo Work/Week6/.vscode/settings.json
Saved Games/desktop.ini
Searches/desktop.ini
Searches/Everywhere.search-ms
Searches/Indexed Locations.search-ms
Searches/Microsoft OneNote.searchconnector-ms
Searches/winrt--{S-1-5-21-3838761468-2954463959-3963813213-1001}-.searchconnector-ms
Videos/desktop.ini
Videos/Captures/desktop.ini
OneDrive/Pictures
